openapi: 3.0.3
info:
  title: Baby Pleats API
  version: 1.1.0
  description: |
    External backend contract for Baby Pleats (separate API repo, v1.1).
    Price and stock live on size/color variants.
    Storefront consumes public catalog via NEXT_PUBLIC_API_BASE_URL.
    Current deployment: GET /categories, GET /products, GET /products/{slug}, plus GET /health.
servers:
  - url: https://api.babypleats.com/v1
    description: Production (example)
  - url: http://localhost:4000/v1
    description: Local development
tags:
  - name: Public
  - name: Orders
  - name: Auth
  - name: AdminCatalog
  - name: AdminOrders
  - name: AdminMedia
paths:
  /categories:
    get:
      tags: [Public]
      summary: List active categories
      operationId: listCategories
      responses:
        "200":
          description: Active categories ordered by sortOrder
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryListResponse"

  /products:
    get:
      tags: [Public]
      summary: List active products
      operationId: listProducts
      parameters:
        - $ref: "#/components/parameters/category"
        - $ref: "#/components/parameters/featured"
        - $ref: "#/components/parameters/isNew"
        - $ref: "#/components/parameters/tag"
        - $ref: "#/components/parameters/q"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Paginated product list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListResponse"
        "400":
          $ref: "#/components/responses/Error"

  /products/{slug}:
    get:
      tags: [Public]
      summary: Get product by slug
      operationId: getProductBySlug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Product detail
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "404":
          $ref: "#/components/responses/Error"

  /site:
    get:
      tags: [Public]
      summary: Public site settings
      operationId: getSiteSettings
      responses:
        "200":
          description: Site settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SiteResponse"

  /orders:
    post:
      tags: [Orders]
      summary: Create order or inquiry
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      responses:
        "201":
          description: Order created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderResponse"
        "400":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/Error"

  /auth/login:
    post:
      tags: [Auth]
      summary: Admin login
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          $ref: "#/components/responses/Error"

  /auth/logout:
    post:
      tags: [Auth]
      summary: Admin logout
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Logged out

  /auth/me:
    get:
      tags: [Auth]
      summary: Current admin user
      operationId: me
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current user
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminUserResponse"
        "401":
          $ref: "#/components/responses/Error"

  /admin/products:
    get:
      tags: [AdminCatalog]
      summary: List products (including inactive)
      operationId: adminListProducts
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/category"
        - $ref: "#/components/parameters/featured"
        - $ref: "#/components/parameters/isNew"
        - $ref: "#/components/parameters/tag"
        - $ref: "#/components/parameters/q"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
        - name: isActive
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Paginated products
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductListResponse"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags: [AdminCatalog]
      summary: Create product
      operationId: adminCreateProduct
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductWrite"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  /admin/products/{id}:
    get:
      tags: [AdminCatalog]
      summary: Get product by id
      operationId: adminGetProduct
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Product
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags: [AdminCatalog]
      summary: Update product
      operationId: adminUpdateProduct
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProductPatch"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags: [AdminCatalog]
      summary: Delete or soft-delete product
      operationId: adminDeleteProduct
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  /admin/categories:
    get:
      tags: [AdminCatalog]
      summary: List all categories
      operationId: adminListCategories
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Categories
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryListResponse"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags: [AdminCatalog]
      summary: Create category
      operationId: adminCreateCategory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryWrite"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  /admin/categories/{id}:
    patch:
      tags: [AdminCatalog]
      summary: Update category
      operationId: adminUpdateCategory
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryPatch"
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryResponse"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      tags: [AdminCatalog]
      summary: Delete category
      operationId: adminDeleteCategory
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "204":
          description: Deleted
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  /admin/media:
    post:
      tags: [AdminMedia]
      summary: Upload media file
      operationId: adminUploadMedia
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "201":
          description: Uploaded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"

  /admin/orders:
    get:
      tags: [AdminOrders]
      summary: List orders
      operationId: adminListOrders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            $ref: "#/components/schemas/OrderStatus"
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - $ref: "#/components/parameters/q"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          description: Paginated orders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderListResponse"
        "401":
          $ref: "#/components/responses/Error"
    post:
      tags: [AdminOrders]
      summary: Manual order entry
      operationId: adminCreateOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderResponse"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"

  /admin/orders/{id}:
    get:
      tags: [AdminOrders]
      summary: Get order
      operationId: adminGetOrder
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/resourceId"
      responses:
        "200":
          description: Order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderResponse"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    patch:
      tags: [AdminOrders]
      summary: Update order status or notes
      operationId: adminUpdateOrder
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/resourceId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: "#/components/schemas/OrderStatus"
                notes:
                  type: string
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderResponse"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  /admin/dashboard:
    get:
      tags: [AdminOrders]
      summary: Dashboard summary counts
      operationId: adminDashboard
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Dashboard
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardResponse"
        "401":
          $ref: "#/components/responses/Error"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    resourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
    category:
      name: category
      in: query
      schema:
        type: string
      description: Filter by categoryId / slug
    featured:
      name: featured
      in: query
      schema:
        type: boolean
    isNew:
      name: isNew
      in: query
      schema:
        type: boolean
    tag:
      name: tag
      in: query
      schema:
        type: string
    q:
      name: q
      in: query
      schema:
        type: string
    page:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 24

  responses:
    Error:
      description: Error envelope
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              enum:
                - VALIDATION_ERROR
                - UNAUTHORIZED
                - FORBIDDEN
                - NOT_FOUND
                - CONFLICT
                - RATE_LIMITED
                - INTERNAL_ERROR
            message:
              type: string
            details:
              nullable: true

    PaginationMeta:
      type: object
      required: [page, limit, total]
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer

    Category:
      type: object
      required: [id, slug, name, image, description, sortOrder, isActive]
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        image:
          type: string
        description:
          type: string
        sortOrder:
          type: integer
        isActive:
          type: boolean
        filter:
          type: string
          nullable: true
          enum: [budgetFriendly, readyToDispatch, bestseller]

    CategoryWrite:
      allOf:
        - $ref: "#/components/schemas/Category"

    CategoryPatch:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        image:
          type: string
        description:
          type: string
        sortOrder:
          type: integer
        isActive:
          type: boolean
        filter:
          type: string
          nullable: true
          enum: [budgetFriendly, readyToDispatch, bestseller]

    CategoryResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Category"

    CategoryListResponse:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Category"

    Money:
      type: object
      required: [selling, currency]
      properties:
        selling:
          type: number
          exclusiveMinimum: 0
        original:
          type: number
          exclusiveMinimum: 0
        currency:
          type: string
          enum: [INR]

    ColorGallery:
      type: object
      required: [color, images]
      properties:
        color:
          type: string
        images:
          type: array
          minItems: 1
          items:
            type: string

    ProductVariant:
      type: object
      required: [id, sku, size, color, price, stock, isActive]
      properties:
        id:
          type: string
        sku:
          type: string
        size:
          type: string
        color:
          type: string
        price:
          $ref: "#/components/schemas/Money"
        stock:
          type: integer
          minimum: 0
        isActive:
          type: boolean
        image:
          type: string

    Product:
      type: object
      required:
        - id
        - slug
        - name
        - categoryId
        - description
        - care
        - images
        - variants
        - isNew
        - featured
        - isActive
        - tags
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        categoryId:
          type: string
        subcategory:
          type: string
        description:
          type: string
        fabric:
          type: string
        care:
          type: array
          items:
            type: string
        images:
          type: array
          minItems: 1
          items:
            type: string
        colorGalleries:
          type: array
          items:
            $ref: "#/components/schemas/ColorGallery"
        variants:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ProductVariant"
        priceFrom:
          description: Derived on read — min selling among active variants
          $ref: "#/components/schemas/Money"
        sizes:
          description: Derived on read — unique sizes from active variants
          type: array
          items:
            type: string
        colors:
          description: Derived on read — unique colors from active variants
          type: array
          items:
            type: string
        stock:
          description: Derived on read — sum of active variant stock
          type: integer
          minimum: 0
        isNew:
          type: boolean
        featured:
          type: boolean
        isActive:
          type: boolean
        rating:
          type: number
          minimum: 0
          maximum: 5
        reviewsCount:
          type: integer
          minimum: 0
        tags:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ProductWrite:
      type: object
      description: Stored product fields. Omit derived priceFrom/sizes/colors/stock. createdAt/updatedAt are server-set.
      required:
        - slug
        - name
        - categoryId
        - description
        - care
        - images
        - variants
        - isNew
        - featured
        - isActive
        - tags
      properties:
        id:
          type: string
        slug:
          type: string
        name:
          type: string
        categoryId:
          type: string
        subcategory:
          type: string
        description:
          type: string
        fabric:
          type: string
        care:
          type: array
          items:
            type: string
        images:
          type: array
          minItems: 1
          items:
            type: string
        colorGalleries:
          type: array
          items:
            $ref: "#/components/schemas/ColorGallery"
        variants:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ProductVariant"
        isNew:
          type: boolean
        featured:
          type: boolean
        isActive:
          type: boolean
        rating:
          type: number
        reviewsCount:
          type: integer
        tags:
          type: array
          items:
            type: string

    ProductPatch:
      type: object
      properties:
        slug:
          type: string
        name:
          type: string
        categoryId:
          type: string
        subcategory:
          type: string
        description:
          type: string
        fabric:
          type: string
        care:
          type: array
          items:
            type: string
        images:
          type: array
          minItems: 1
          items:
            type: string
        colorGalleries:
          type: array
          items:
            $ref: "#/components/schemas/ColorGallery"
        variants:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ProductVariant"
        isNew:
          type: boolean
        featured:
          type: boolean
        isActive:
          type: boolean
        rating:
          type: number
        reviewsCount:
          type: integer
        tags:
          type: array
          items:
            type: string

    ProductResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Product"

    ProductListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Product"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    OrderStatus:
      type: string
      enum:
        - new
        - confirmed
        - in_progress
        - shipped
        - delivered
        - cancelled

    OrderSource:
      type: string
      enum: [whatsapp, website, manual]

    OrderItem:
      type: object
      required: [productId, variantId, productName, qty, unitPrice]
      properties:
        productId:
          type: string
        variantId:
          type: string
        productName:
          type: string
        sku:
          type: string
        size:
          type: string
        color:
          type: string
        qty:
          type: integer
          minimum: 1
        unitPrice:
          type: number
          exclusiveMinimum: 0

    OrderTotals:
      type: object
      required: [subtotal, shipping, total, currency]
      properties:
        subtotal:
          type: number
          minimum: 0
        shipping:
          type: number
          minimum: 0
        total:
          type: number
          minimum: 0
        currency:
          type: string
          enum: [INR]

    Order:
      type: object
      required:
        - id
        - status
        - source
        - customer
        - items
        - totals
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
        status:
          $ref: "#/components/schemas/OrderStatus"
        source:
          $ref: "#/components/schemas/OrderSource"
        customer:
          type: object
          required: [name, phone]
          properties:
            name:
              type: string
            phone:
              type: string
            city:
              type: string
        items:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/OrderItem"
        totals:
          $ref: "#/components/schemas/OrderTotals"
        notes:
          type: string
        whatsappMessageId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateOrderRequest:
      type: object
      required: [customer, items]
      properties:
        source:
          $ref: "#/components/schemas/OrderSource"
        customer:
          type: object
          required: [name, phone]
          properties:
            name:
              type: string
            phone:
              type: string
            city:
              type: string
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [productId, variantId, qty]
            properties:
              productId:
                type: string
              variantId:
                type: string
              size:
                type: string
                description: Optional; ignored — server uses variantId
              color:
                type: string
                description: Optional; ignored — server uses variantId
              qty:
                type: integer
                minimum: 1
        notes:
          type: string

    OrderResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/Order"

    OrderListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Order"
        meta:
          $ref: "#/components/schemas/PaginationMeta"

    SiteSettings:
      type: object
      required:
        - name
        - tagline
        - description
        - whatsapp
        - instagram
        - email
        - freeShippingThreshold
        - currency
      properties:
        name:
          type: string
        tagline:
          type: string
        description:
          type: string
        whatsapp:
          type: object
          required: [number, display]
          properties:
            number:
              type: string
            display:
              type: string
        instagram:
          type: object
          required: [handle, url]
          properties:
            handle:
              type: string
            url:
              type: string
              format: uri
        email:
          type: string
          format: email
        freeShippingThreshold:
          type: number
        currency:
          type: string
          enum: [INR]

    SiteResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/SiteSettings"

    AdminUser:
      type: object
      required: [id, email, name, role]
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [owner, staff]

    AdminUserResponse:
      type: object
      required: [data]
      properties:
        data:
          $ref: "#/components/schemas/AdminUser"

    LoginResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [accessToken, expiresIn, user]
          properties:
            accessToken:
              type: string
            expiresIn:
              type: integer
              description: Seconds until expiry
            user:
              $ref: "#/components/schemas/AdminUser"

    MediaResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [url, contentType, bytes]
          properties:
            url:
              type: string
              format: uri
            contentType:
              type: string
            bytes:
              type: integer

    DashboardResponse:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required:
            - ordersNew
            - ordersInProgress
            - productsActive
            - productsLowStock
            - lowStockThreshold
          properties:
            ordersNew:
              type: integer
            ordersInProgress:
              type: integer
            productsActive:
              type: integer
            productsLowStock:
              type: integer
            lowStockThreshold:
              type: integer
